<!--Début Block commun à toutes les pages-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/icon3.png">
    <script type="text/javascript" src="/js/ecran.js"></script>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    <link type="text/css" href="/css/menu.css" rel="stylesheet">
    <link type="text/css" href="/css/aventure.css" rel="stylesheet">
    <!--Chargement des polices Google-->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <title th:text="${aventure?.nom}"></title>
</head>
<body onresize="changeImage()" onload="changeImage()">
<!-- Necessaire au système d'adaptation d'images automatique controlé en javascript -->
<!-- Affiche toujours l'image de fond en optimisé quelque soit les tailles d'écrans (du smartphone à la 4K) -->
<img id="image4K" class="imagePrechargee" src="/img/meretciel4k.jpg">
<!-- include menu -->
<div th:replace="menu.html"></div>

<!--Fin Block commun à toutes les pages-->

<div id="divdefond"></div>

<!-- Espace de definition des fenêtres modales -->
<div id="ModalValidationReservation" class="cModal">
    <div>
        <header>
            <h2 class="modalHeader">Confirmation requise</h2>
        </header>
        <div class="contenuErreur">
            <div class="contenuImageErreur"style="float: left; margin-right:15px;box-sizing: content-box">
                <i style="color: darkblue" class="fas fa-question-circle fa-5x"></i>
            </div>
            <p class="texterreur">Voulez-vous effectuer la réservation pour cette aventure ? Une fois la réservation effectuée vous avez 24h pour procéder au peiement</p>
        </div>
        <footer>
            <a href="#fermer" class="btn btn-outline-secondary btn-sm modalMargin"><i class="fas fa-times"></i> Fermer</a>
            <!--Ne pas virer ce commentaire: Bug de parsing des attributs thymeleaf-->
            <a th:href="@{/aventure/{id}/reserver(id=${aventure.id})}" class="btn btn-success btn-sm btnvalider" > Confirmer</a>
        </footer>
    </div>
</div>
<div id="ModalConfirmationReservation" class="cModal">
    <div>
        <header>
            <h2 class="modalHeader">Confirmation!</h2>
        </header>
        <div class="contenuErreur">
            <div class="contenuImageErreur"style="float: left; margin-right:15px;box-sizing: content-box">
                <i style="color: green" class="fas fa-check-circle fa-5x"></i>
            </div>
            <p class="texterreur">Votre réservation a bien été prise en compte.</p>
            <p class="texterreur">Vous pouvez effectuer le paiement dès à présent ou dans les 24h.</p>
        </div>
        <form style="text-align: center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <!--<input type="hidden" name="cmd" value="_xclick">-->
            <input type="hidden" name="cmd" value="_ext-enter">
            <input type="hidden" name="redirect_cmd" value="_xclick">
            <input type="hidden" name="business" value="8GCRQ6ZD2TMG6">
            <input type="hidden" name="item_name" th:value="'Reservation ' + ${aventure?.nom}">
            <input type="hidden" name="item_number" value="1">

            <input type="hidden" name="amount" value="0.01">
            <input type="hidden" name="lc" value="FR">

            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <!--rm = méthode de redirection-->
            <input type="hidden" name="rm" value="2">
            <!--Les notifications instantanées ne sont pas utilisables hors HTTPS avec certificat G5 Root -->
            <!--<input type="hidden" name="notify_url" th:value="'https://' + ${currentIP} + '/aventure/paiement/validation'">-->
            <input type="hidden" name="return" th:value="'http://' + ${currentIP} + ':8080/aventure/paiement/validation'">
            <input type="hidden" name="cancel_return" th:value="'http://' + ${currentIP} + ':8080/'">
            <input type="hidden" name="currency_code" value="EUR">

            <!--Variables d'informations utilisateurs-->
            <input type="hidden" name="email" th:value="${session?.userGuest?.email}">
            <input type="hidden" name="first_name" th:value="${session?.userGuest?.prenom}">
            <input type="hidden" name="last_name" th:value="${session?.userGuest?.nom}">

            <!--On passe dans la variable Custom d'idNouvelleReservation-->
            <input type="hidden" name="custom" th:value="${nouvelleReservation?.id}">
            <!---->
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
            <input class="btnPaypal" type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>
        <footer>
            <a href="#fermer" class="btn btn-outline-secondary btn-sm modalMargin"><i class="fas fa-times"></i> Fermer</a>
        </footer>
    </div>
</div>
<div id="ModalReservationErreur" class="cModal">
    <div>
        <header>
            <h2 class="modalHeader">Oups!</h2>
        </header>
        <div class="contenuErreur">
            <div class="contenuImageErreur"style="float: left; margin-right:15px;box-sizing: content-box">
                <i style="color: darkred" class="fas fa-exclamation-triangle fa-5x"></i>
            </div>
            <p class="texterreur">La dernière place a été réservée avant vous.</p>
        </div>
        <footer>
            <a href="#fermer" class="btn btn-outline-secondary btn-sm modalMargin"><i class="fas fa-times"></i> Fermer</a>
        </footer>
    </div>
</div>
<!-- Espace de definition des blocks -->
        <div id="cadrephoto" class="offset-sm-1 col-9 col-sm-5 col-lg-3 col-xl-2" th:style="'background:url(' + @{/images/aventure/} + ${aventure?.id} + ') center no-repeat; background-size: 100% auto;'" ></div>
        <div id="blockTransparent"></div>
        <div id="presentation" class="offset-0 offset-sm-1 offset-lg-0 col-lg-6 col-sm-10 col-12">
            <h2 class="infossurnoir" th:text="${aventure?.nom}"></h2>
            <h2 class="infossurnoir" th:text="'Catégorie : ' + ${aventure?.categorie?.nom}"></h2>
            <br>
            <h5 class="infossurnoir" th:text="'Prix par personne : ' + ${#numbers.formatDecimal(aventure?.prix,1,'WHITESPACE',2,'COMMA')} + ' € TTC'"></h5>
            <br>
            <h5 class="infossurnoir" th:text="'Début de l\'aventure : '+ ${#temporals.format(aventure?.dateDebut, 'dd/MM/yyyy')}"></h5>
            <h5 class="infossurnoir" th:text="'Fin de l\'aventure : ' + ${#temporals.format(aventure?.dateFin, 'dd/MM/yyyy')}"></h5>
            <h5 class="infossurnoir" th:text="'Date limite d\'inscription : ' + ${#temporals.format(aventure?.dateCloture, 'dd/MM/yyyy')}"></h5>
            <br>
            <h6 class="infossurnoir" th:text="'Nombre de participants maximum: ' + ${aventure?.limiteReservation}"></h6>
            <h6 class="infossurnoir" th:text="'Places restantes : ' + ${placesRestantes}"></h6>
        </div>
    </div>
    <!--  -->
    <!-- Check si une réservation de l'aventure n'existe pas déjà pour l'utilisateur connecté-->
    <div th:if="${session?.userGuest?.id>0 && reservationPossible && placesRestantes > 0}" class="offset-sm-1 col-sm-10 col-lg-3 col-xl-2 col-12" style="padding:0; background-color: unset; border: unset">
        <a class="btn btnCustom btnGris col-12" th:href="@{/aventure/{id}(id=${aventure.id})} + '#ModalValidationReservation'"><i class="far fa-bookmark"></i> Reserver cette aventure</a>
    </div>
    <div th:if="${session?.userGuest?.id>0 && !reservationPossible}" class="offset-sm-1 col-sm-10 col-lg-5 col-xl-4 col-12" style="padding:0; background-color: unset; border: unset">
        <a class="btn btnCustom btnGris col-12" th:href="@{/espaceutilisateur}">Vous avez une réservation en cours pour cette aventure</a>
</div>


    <!-- Penser a gérer les cas de réservation impossible -->
    <!--<c:if test="${sessionScope.userGuest.idUtilisateur!=0 && !empty sessionScope.userGuest.idUtilisateur && (livreprete==true || livreReserve==true || attenteComplete==true)}">
        <form class="card offset-sm-1 col-sm-10 col-12 form-group blockdescription3">
            <c:if test="${sessionScope.userGuest.idUtilisateur!=0 && !empty sessionScope.userGuest.idUtilisateur && livreprete==true}">
                <p id="aafficherenligne" class="nonreservation">Reservation impossible. Vous avez déjà un prêt en cours pour cet ouvrage.</p>
            </c:if>
            <c:if test="${sessionScope.userGuest.idUtilisateur!=0 && !empty sessionScope.userGuest.idUtilisateur && livreReserve==true}">
                <p id="aafficherenligne" class="nonreservation">Reservation impossible. Vous avez déjà une réservation en cours pour cet ouvrage.</p>
            </c:if>
            <c:if test="${sessionScope.userGuest.idUtilisateur!=0 && !empty sessionScope.userGuest.idUtilisateur && attenteComplete==true}">
                <p id="aafficherenligne" class="nonreservation">Reservation impossible. La liste d'attente et pleine.</p>
            </c:if>
        </form>
    </c:if>-->
    <!--  -->
    <form class="card offset-sm-1 col-sm-10 col-12 form-group blockdescription">
        <div class="card-body paneldescription">
            <legend class="label1">Description de l'aventure:</legend>
            <div class="input-group col-12">
                <textarea readonly name="description" rows="5" id="textDescription0" class="form-control" maxlength="1000" placeholder="..." disabled th:text="${aventure?.description}"></textarea>
            </div>
        </div>
    </form>
    <!--  -->
    <!--  -->
    <!--  -->
    <form class="card offset-sm-1 col-sm-10 col-12 form-group blockdescription">
        <div class="card-body paneldescription">
            <legend class="label1">Commentaires de nos aventuriers:</legend>
            <div class="col-12" th:each="reservation : ${reservations}">
                <p class="headerComm" th:text="(${session?.userGuest?.id == reservation.user.id} ? 'Vous' : ${reservation.user.prenom} + ' ' + ${reservation.user.nom}) + ' - le ' + ${#temporals.format(reservation.timestampCommentaireReservation, 'dd/MM/yyyy à HH:mm:ss')}"></p>
                <p class="comm" th:text="${reservation.commentaireReservation}"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>